[submodule "blog/themes/pelican-bootstrap3"]
	path = blog/themes/pelican-bootstrap3
	url = https://github.com/DandyDev/pelican-bootstrap3.git
[submodule "blog/plugins/pelican-plugins"]
	path = blog/plugins/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
