.posts-list-item {
  padding: 1em 0 !important;
}

.posts-list-item-summary {
  margin: 0.5em 0 0.4em;
  font-size: 0.9em;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.6);
}

.posts-list-item-tag {
  display: inline-block;
  font-size: 0.85em;
  padding: 0.1em 0.5em;
  margin-left: 0.3em;
  border-radius: 3px;
  background: rgba(87, 204, 138, 0.15);
  color: rgba(87, 204, 138, 0.8);
}
