{{ define "main" }}
  <article>
    {{ with .Title -}}<h1>{{- . -}}</h1>{{- end }}
    {{ with .Content -}}<div class="post-content">{{- . -}}</div>{{- end }}
    <ul class="posts-list">
      {{ range sort (where .Paginator.Pages "Type" "!=" "page") "File.Path" }}
      <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate | time.Format ":date_medium" }}
            <span class="posts-list-item-separator">-</span>
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ i18n "reading_time" . }}
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
